<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="icon"></div>
    <div class="title">
      Select Character Libs
    </div>
  </div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Select Charactor Libs</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib1a-checkbox"></div>
				<div class="title">Grade 1, Term 1</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib1b-checkbox"></div>
				<div class="title">Grade 1, Term 2</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib2a-checkbox"></div>
				<div class="title">Grade 2, Term 1</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib2b-checkbox"></div>
				<div class="title">Grade 2, Term 2</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib3a-checkbox"></div>
				<div class="title">Grade 3, Term 1</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib3b-checkbox"></div>
				<div class="title">Grade 3, Term 2</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib4a-checkbox"></div>
				<div class="title">Grade 4, Term 1</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib4b-checkbox"></div>
				<div class="title">Grade 4, Term 2</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib5a-checkbox"></div>
				<div class="title">Grade 5, Term 1</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib5b-checkbox"></div>
				<div class="title">Grade 5, Term 2</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib6a-checkbox"></div>
				<div class="title">Grade 6, Term 1</div>
			</div>
		</div>

		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="CheckBox" class="right" id="chlib6b-checkbox"></div>
				<div class="title">Grade 6, Term 2</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
    <div x-mojo-element="Button" id="okButton"></div>
    <div x-mojo-element="Button" id="cancelButton"></div>
</div>
