<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="icon"></div>
    <div class="title">
      Learn Character
    </div>
  </div>
</div>

<div id="main" class="palm-body-text"> 
  <h1 id="onechar" class="hanzi"></h1>
</div>

<table width="100%">
	<tr>
	  <td width="33%"><div x-mojo-element="Button" id="prevButton"></div></td>
	  <td width="33%"><div x-mojo-element="Button" id="voiceButton"></div></td>
	  <td width="33%"><div x-mojo-element="Button" id="nextButton"></div></td>
	</tr>
</table>