<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="icon"></div>
    <div class="title">
      Assem words or sentence
    </div>
  </div>
</div>

<div id="assem">
  <table width="100%">
    <tr>
      <td width="25%"><div x-mojo-element="Button" id="aButton1"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton2"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton3"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton4"></div></td>
    </tr>
    <tr>
      <td width="25%"><div x-mojo-element="Button" id="aButton5"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton6"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton7"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="aButton8"></div></td>
    </tr>
  </table>
</div>

<div id="c">
  <table width="100%">
    <tr>
      <td width="25%"><div x-mojo-element="Button" id="cButton1"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton2"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton3"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton4"></div></td>
    </tr>
    <tr>
      <td width="25%"><div x-mojo-element="Button" id="cButton5"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton6"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton7"></div></td>
      <td width="25%"><div x-mojo-element="Button" id="cButton8"></div></td>
    </tr>
  </table>
</div>