<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="icon"></div>
    <div class="title">
      Add New User Name
    </div>
  </div>
</div>

<div class="textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
       <div x-mojo-element="TextField" id="newUserName"></div>
    </div>
</div>
<div class="palm-dialog-buttons">
    <div x-mojo-element="Button" id="okButton"></div>
    <div x-mojo-element="Button" id="cancelButton"></div>
</div>
